.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 5vh;
    font-size: 18px;
    i{
        color: red;
        margin: 0px 3px;
    }
}